<app-navbar></app-navbar>
<div class="min-h-screen flex items-center justify-center">
    <div class="max-w-5xl mx-auto w-full md:w-1/3 p-3 bg-white shadow-md rounded-lg">
        <div class="md:flex">
            <ul class="flex flex-col md:me-3 space-y-4 text-sm font-medium text-gray-500 mb-4 md:mb-0 md:w-1/4">
                <li (click)="selectTab('account-info')">
                    <a href="/account#account-info" class="inline-flex items-center px-4 py-3 rounded-lg w-full"
                        [ngClass]="{'text-white bg-[#016299] hover:bg-[#015581]': selectedTab === 'account-info', 'hover:text-gray-900 bg-gray-50 hover:bg-gray-100': selectedTab !== 'account-info'}">
                        Account Info
                    </a>
                </li>
                <li (click)="selectTab('change-password')" *ngIf="isAdmin()">
                    <a href="/account#change-password" class="inline-flex items-center px-4 py-3 rounded-lg w-full"
                        [ngClass]="{'text-white bg-[#016299] hover:bg-[#015581]': selectedTab === 'change-password', 'hover:text-gray-900 bg-gray-50 hover:bg-gray-100': selectedTab !== 'change-password'}">
                        Change Password
                    </a>
                </li>
                <li (click)="selectTab('all-accounts')" *ngIf="isAdmin()">
                    <a href="/account#all-accounts" class="inline-flex items-center px-4 py-3 rounded-lg w-full"
                        [ngClass]="{'text-white bg-[#016299] hover:bg-[#015581]': selectedTab === 'all-accounts', 'hover:text-gray-900 bg-gray-50 hover:bg-gray-100': selectedTab !== 'all-accounts'}">
                        All Accounts
                    </a>
                </li>
                <li (click)="selectTab('delete-account')" *ngIf="isAdmin()">
                    <a href="/account#delete-account" class="inline-flex items-center px-4 py-3 rounded-lg w-full"
                        [ngClass]="{'text-white bg-[#016299] hover:bg-[#015581]': selectedTab === 'delete-account', 'hover:text-gray-900 bg-gray-50 hover:bg-gray-100': selectedTab !== 'delete-account'}">
                        Delete Account
                    </a>
                </li>
            </ul>
            <div class="p-5 bg-gray-50 text-medium text-gray-500 w-auto h-96 md:w-3/4">
                <div id="account-info" *ngIf="selectedTab === 'account-info'">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
                            <input [value]="account.name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" readonly>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                            <input [value]="account.email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" readonly>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="uniy">Unit</label>
                            <input [value]="account.unit" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="unit" type="text"readonly>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="role">Role</label>
                            <input [value]="account.role" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="role" type="text" readonly>
                        </div>
                </div>
                <div id="change-password" *ngIf="selectedTab === 'change-password'">
                    <h3 class="text-lg font-bold text-gray-900">Change password</h3>
                    <p class="mb-2">This is some placeholder content for the Change password tab.</p>
                </div>
                <div id="all-accounts" *ngIf="selectedTab === 'all-accounts'">
                    <h3 class="text-lg font-bold text-gray-900">All accounts</h3>
                    <p class="mb-2">This is some placeholder content for the All accounts tab.</p>
                </div>
                <div id="delete-account" *ngIf="selectedTab === 'delete-account'">
                    <h3 class="text-lg font-bold text-gray-900">Delete accounts</h3>
                    <p class="mb-2">This is some placeholder content for the Delete accounts tab.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
